.dialog-popup {
	background-color: rgba(0, 0, 0, 0.177);
	backdrop-filter: blur(6px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.177);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	width: 30%;
	height: 30%;
	position: fixed;
	z-index: 6;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
    padding: 10px 16px;
}
