.favorite-websites-container {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-width: 36%;
	min-height: 36%;
	background-color: rgba(0, 0, 0, 0.177);
	backdrop-filter: blur(6px);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.177);
	border-radius: 10px;
}
